fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sqlmodel
alembic
psycopg2-binary
python-jose[cryptography]
httpx
stripe
slowapi
openai
google-genai
pgvector==0.5.0
apscheduler==3.11.3
pytest
google-cloud-storage
resend
